<!doctype html>
<html lang="en">

<head>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
      }

      /* Darker background on mouse-over */
      .btn:hover {
        background-color: RoyalBlue;
      }
    </style>
  </head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Homepage</title>
</head>

<body style="background-color: black">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mx-3"style="border-radius: 2mm; margin-top: 8px; ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">PORTFOLIO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="education">Education</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link active" href="projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>

  <div class="card bg-dark text-white " style="border-bottom:50px;">
    <img src="https://images.unsplash.com/photo-1564887990172-4341e81b49e4?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=550&ixid=MnwxfDB8MXxyYW5kb218MHx8YXBwbGUsbWFjYm9vayxibGFja3x8fHx8fDE2NDA0NDEyNTE&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title" style="position: absolute;bottom:30px;letter-spacing:0.35em;font-size: 40px;">Projects & Certification
      </h5>
      <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
    </div>
  </div>
  <br>

  <span style="letter-spacing:0.35em ; font-size: 30px;color: white;">Projects</span>

  <div class="card-group my-5 mx-4" style="margin-bottom: 0px;">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">1.</div>
      <div class="card-body">
        <h5 class="card-title"> Vehicle Detection using Deep learning</h5>
        <p class="card-text">
          Vehicles detection using cascade classifier

        </p>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3 ">
      <div class="card-header">2.</div>
      <div class="card-body">
        <h5 class="card-title"> Face detetecion and capture using OPENCV
        </h5>
        <p class="card-text">Detects face using haars frontal face and captures images
          of the face from described camera can be used for security as well as deta base
          creation for various face types
        </p>
      </div>
    </div>

  </div>

  <div class="card-group my-5 mx-4">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">3.</div>
      <div class="card-body">
        <h5 class="card-title">Face emotion recognition</h5>
        <p class="card-text">
          Detects face in live videofeed and shows state of emotion on face using haars data and opencv
        </p>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">4.</div>
      <div class="card-body">
        <h5 class="card-title">Real time object detection</h5>
        <p class="card-text">-Identifies object from reamtime feed of camera using mobileNETSSD model</p>
      </div>
    </div>

  </div>


  <div class="card-group my-5 mx-4" style="max-width: 48.5rem;">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">5.</div>
      <div class="card-body">
        <h5 class="card-title">PIXELATED image recognition</h5>
        <p class="card-text">
          Developed a machine learning model to recognise numeric data from pixels(image)
          and determined the accuracy using Scikit,numpy,MatplotLib,pandas.
        </p>
      </div>
    </div>
  </div>

  <br>

  <span style="letter-spacing:0.35em ; font-size: 30px;color: white;">Certification</span>

  <div class="card-group my-5 mx-4">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">1.</div>
      <div class="card-body">
        <h5 class="card-title">Introducion to Python programming (10/2019)</h5>
        <p class="card-text">
          The course Introduction To Python Programming on 08/10/2019 as taught by Avinash Jain, TheCodex on Udemy.
        </p>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">2.</div>
      <div class="card-body">
        <h5 class="card-title">Machine Learning with Python (06/2020)</h5>
        <p class="card-text">Issued by Coursera,Authorised by IBM.The badge earner has
          a good understanding and application of machine learning The individual has
          acquired the skills to use different machine learning libraries in Python,
          mainly Scikit-learn and Scipy, to generate and apply different types of ML
          algorithms such as decision trees, logistic regression, k-means, KNN.
        </p>
      </div>
    </div>

  </div>




  <div class="card-group my-5 mx-4">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">3.</div>
      <div class="card-body">
        <h5 class="card-title">Introduction to programming with Matlab (05/2020)</h5>
        <p class="card-text">
          Learn about various data types and how to handle them in MATLAB.
          Programming concepts such as variables, control structures, functions
        </p>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">4.</div>
      <div class="card-body">
        <h5 class="card-title">how google does Machine learning (09/2020)</h5>
        <p class="card-text">Real-world experimentation with end-to-end ML</p>
      </div>
    </div>

  </div>


  <div class="card-group my-5 mx-4">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">5.</div>
      <div class="card-body">
        <h5 class="card-title">Matlab Masterclass (10/2020)</h5>
        <p class="card-text">

        </p>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">6.</div>
      <div class="card-body">
        <h5 class="card-title">AI masterclass (11/2020)</h5>
        <p class="card-text">

        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="container-fluid" style="position: sticky; bottom:0mm ;">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-0 my-0 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          </a>
          <span class="text-muted">&copy;Copyright Divyesh Panchal | All Rights Reserved {% now "Y" %} </span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="nav-item active">
            <a class="nav-link" href="https://www.instagram.com/divyesh____/"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://www.linkedin.com/in/divyesh-panchal-b9b48b180/"><i
                class="fa fa-linkedin"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/DivyeshPanchalDP"><i class="fa fa-github"></i></a>
          </li>
        </ul>
      </footer>
    </div>
  </div>



  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>